@using Microsoft.AspNetCore.Identity
@using ShareIt.Core.Application
@using System.Security.Claims
@using ShareIt.Infrastructure.Identity
@inject UserManager<User> UserManager
@using ShareIt.Core.Application
@model PublicationViewModel
@{
    string Id = Model.Id + "Comments";
}

<button class="btn btn-outline-secondary rounded-pill " type="button" data-bs-toggle="collapse" data-bs-target="#@Id" aria-expanded="false" aria-controls="@Id">
    Comments
</button>

<div class="collapse mt-3" id="@Id">
    <div class="">
        @{

        }
        @if (Model == null || Model.Comments.Count == 0)
        {
            <div class="alert alert-secondary text-center" role="alert">
                <h5>Aun no hay comentarios</h5>
            </div>
        }
        else
        {
            @foreach (var comment in Model.Comments)
            {
                if(comment.IdParentComment == null)
                {
                    var user = UserManager.Users.FirstOrDefault(u => u.Id == comment.Profile.IdUser);

                    comment.Username = user.UserName;
                    <div class="m-2">
                        @await Html.PartialAsync("CommentPartialView.cshtml", comment)
                    </div>
                }
                
            }
        }

        <div class="row">

          
            @await Html.PartialAsync("CommentNewPartialView.cshtml", new CommentSaveViewModel{
                Username = Model.Username,
                IdProfile = Model.Profile.IdUser,
                Profile = Model.Profile,
                IdPublication = Model.Id
            })
        </div>
    </div>
</div>
        
