@using ShareIt.Core.Application
@model CommentSaveViewModel
@{
    string id = Model.IdParentComment + "Reply";
}


<button type="button" class="btn btn-outline-secondary rounded-pill mt-1" data-bs-toggle="modal" data-bs-target="#@id">Reply</button>



<!-- Modal -->
<div class="modal fade" id="@id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Reply</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("CommentNewPartialView.cshtml", Model)
            </div>
          
        </div>
    </div>
</div>