@using Microsoft.AspNetCore.Identity
@using ShareIt.Core.Application
@using System.Security.Claims
@using ShareIt.Infrastructure.Identity
@inject UserManager<User> UserManager
@using ShareIt.Core.Application
@model FriendshipIndexViewModel


<div>

    @foreach (var publication in Model.Publications)
    {
        var user = UserManager.Users.FirstOrDefault(u => u.Id == publication.Profile.IdUser);
        if (user != null)
        {
            publication.Username = user.UserName;
        }
        @await Html.PartialAsync("../Shared/Publication/PublicationPartialView", publication)
        ;

    }

</div>