@using ShareIt.Core.Application
@model ForgotPasswordViewModel



<a asp-controller="User" asp-action="ForgotPassword" class="float-begin me-2" data-bs-toggle="modal" data-bs-target="#Forgot">Forgot Password?</a>


<!-- Modal -->
<div class="modal fade" id="Forgot" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Forgot Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="User" asp-action="ForgotPassword" method="post">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" asp-for="Username" placeholder="Username or Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Send</button>
                    </div>

                </form>


                
            </div>
          
        </div>
    </div>
</div>
