@using ShareIt.Core.Application
@model PublicationIndexViewModel

@await Html.PartialAsync("../Shared/NavbarMainMenuPartialView.cshtml", Model.UserClaim.Identity.Name)


<div class="container">
    <main role="main" class="pb-3">


    
    </main>
</div>