@using ShareIt.Core.Application
@model PublicationIndexViewModel

@await Html.PartialAsync("../Shared/NavbarMainMenuPartialView.cshtml", Model.UserClaim.Identity.Name)



<main role="main" class="content" class="pb-3">
    <div class="container">

        <div>
            @await Html.PartialAsync("../Shared/Publication/PublicationNewPartialView.cshtml", Model.Svm)
        </div>


        <div>
            @await Html.PartialAsync("../Shared/Publication/PublicationListPartialView.cshtml", Model)
        </div>
    
</main>